[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
pytelegrambotapi = "*"
phonenumbers = "*"
psycopg2 = "*"
python-dotenv = "*"
sentry-sdk = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
gspread = "*"

[requires]
python_version = "3"
